@font-face {
    font-family: 'josefin_sans';
    src: url('/fonts/JosefinSans/josefinsans-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'josefin_sans';
    src: url('/fonts/JosefinSans/josefinsans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }